<!DOCTYPE html>
<html>
  <head lang="en-US">
    <meta charset="utf-8" />
    <link
      type="text/css"
      rel="stylesheet"
      href="{{ url_for('static',filename='css/style.css') }}"
    />
  </head>

  <body>
    <table id="grid-container">
      <tr>
        <td></td>
        <td>
          <table id="top-nums"></table>
        </td>
      </tr>

      <tr>
        <td>
          <table id="side-nums"></table>
        </td>
        <td>
          <table id="nono-grid"></table>
        </td>
      </tr>
    </table>

    <script src="{{ url_for('static', filename= 'oldjs/index.js') if is_old_browser else url_for('static', filename= 'js/index.js') }}"></script>
    <script>
      init({{ side_nums }},{{ top_nums }},false)
    </script>
  </body>
</html>
