node_modules/
__pycache__/
flask/env/

dist/
builds/
babelify/src/index.js
babelify/template

picross-rs/
flask/project/static/js
flask/project/static/oldjs
flask/project/static/css
flask/project/static/oldcss
flask/project/puzzles/templates

flask/app_old
