:root {
    --border-color: #ccc;
}
* {
  font-family: sans-serif;
}
td {
  padding: 0;
}

#g {
  margin: auto;
}

table {
  border-collapse: collapse;
}

/*#n tr td, #t tr td, #s tr td {*/
#g tr td tr td {
/*  border: 0px solid;
  border-style: solid;*/
  border-color: #ccc;
  border-color: var(--border-color);
  width: 16px;
  height: 16px;
  text-align: center;
  vertical-align: middle;
  font-weight: 700;
  font-size: 10px;
}
.e {
  background: #eee;
}
.f {
  background: #000;
}

#n,
#t,
#s {
  border: 2px solid #ccc;
  border: 2px solid var(--border-color);
}

#n tr td {
  /*border: 0.5px solid;*/
  border-bottom: 1px solid;
  border-right: 1px solid;
}
#n :nth-child(5n) td {
  border-bottom: 2px solid #ccc;
  border-bottom: 2px solid var(--border-color);
}
#n :nth-child(5n) {
  border-right: 2px solid #ccc;
  border-right: 2px solid var(--border-color);
}

#t {
  border-bottom: 0;
}
#t tr td {
  border-right: 1px solid;
}
#t tr :nth-child(5n) {
  border-right: 2px solid #ccc;
  border-right: 2px solid var(--border-color);
}

#s {
  border-right: 0;
}
#s tr td {
  border-bottom: 1px solid;
}
#s :nth-child(5n) td {
  border-bottom: 2px solid #ccc;
  border-bottom: 2px solid var(--border-color);
}

#v {
  color: red;
}
#form-container {
  text-align: center;
}
