<!DOCTYPE html>
<html>
  <head lang="en-US">
    <meta charset="utf-8" />
    <link
      type="text/css"
      rel="stylesheet"
      href="{{ url_for('static',filename='css/style.css') }}"
    />
  </head>

  <body>
    <!--div id="g">
      <table id="n"></table>
      <table id="t"></table>
      <table id="s"></table>
    </div-->

    <table id="g">
      <tr>
        <td></td>
        <td>
          <table id="t"></table>
        </td>
      </tr>

      <tr>
        <td>
          <table id="s"></table>
        </td>
        <td>
          <table id="n"></table>
        </td>
      </tr>
    </table>

    <div id="form-container">
      <label for="l">Title</label>
      <input type="text" id="l" />
      <button id="b">Upload</button>
      <div id="v"></div>
    </div>
    <script src="{{ url_for('static', filename= 'js/index.js') }}"></script>
    <script>
      init({{ side_nums }}, {{ top_nums }}, true)
    </script>
  </body>
</html>
