<!DOCTYPE html>
<html>
  <head lang="en-US">
    <meta charset="utf-8" />
    <link
      type="text/css"
      rel="stylesheet"
      href="{{ url_for('static',filename='oldcss/style.css') if is_old_browser else url_for('static',filename='css/style.css') }}"
    />
  </head>

  <body>
    <div id="outer-container">
      <div id="inner-container">
        <!--div role="banner"><a href="/puzzles">Picross Online</a></div-->
        <div role="banner"><a href="/fakepage">Picross Online</a></div>
        <div role="banner"><a href="/puzzle/3">Picross Online</a></div>
        <div class="horizontal-line"></div>
        {% block content %} {% endblock content %}
      </div>
    </div>
    {% block scripts %} {% endblock scripts %}
  </body>
</html>
