<!DOCTYPE html>
<html>
  <head lang="en-US">
    <meta charset="utf-8" />
    <link
      type="text/css"
      rel="stylesheet"
      href="{{ url_for('static',filename='oldcss/style.css') if is_old_browser else url_for('static',filename='css/style.css') }}"
    />
    <link
      rel="preload"
      href="{{ url_for('static', filename= 'oldjs/puzzle.js') if is_old_browser else url_for('static', filename= 'js/puzzle.js') }}"
      as="script"
      crossorigin
    />
    <script src=""></script>
  </head>

  <body>
    <header>
      <!--div class="header-container" >
        <a href="/puzzles">Picross</a>
      </div-->
      <div class="header-container">
        <a href="/puzzle/add?width=12&height=4">Picross</a>
      </div>
      <div class="header-container">
        <a href="/puzzle/3">Picross</a>
      </div>
    </header>

    <div id="inner-container"></div>

    <script src="{{ url_for('static', filename= 'oldjs/index.js') if is_old_browser else url_for('static', filename= 'js/index.js') }}"></script>

    <template id="grid-template">
      <table id="grid-container">
        <tr>
          <td></td>
          <td>
            <table id="top-nums"></table>
          </td>
        </tr>
        <tr>
          <td>
            <table id="side-nums"></table>
          </td>
          <td>
            <table id="nono-grid"></table>
          </td>
        </tr>
      </table>
    </template>

    <template id="form-template">
      <div id="form-container">
        <label for="level-name">Title</label>
        <input type="text" id="level-name" />
        <button id="submit-button">Upload</button>
        <div id="error-msg"></div>
      </div>
    </template>

    <template id="element-template">
      <a class="list-element" href="">
        <div></div>
      </a>
    </template>

  </body>
</html>
