/* Global font */
@font-face {
  font-family: OpenSans;
  src: url("/static/assets/OpenSans-VariableFont.woff2") format("woff2"),
    url("/static/assets/OpenSans-VariableFont.woff") format("woff");
}

:root {
  --border-color: #ccc;
  --cell-size: 25px;
}

/* reset defaults */

* {
  font-family: OpenSans, sans-serif;
}
body {
  margin: 0;
}
td {
  padding: 0;
}

/* Global Header */

header {
  font-size: 25px;
  font-weight: 700;
  color: #344861;
  margin-bottom: 15px;
  border-bottom: 1px solid rgba(0, 63, 123, 0.1);
}

header a {
  color: inherit;
  text-decoration: inherit;
}

.header-container {
  margin: 0 auto;
  width: fit-content;
  padding: 12px;
}

/* Container for page content */
#inner-container {
  /* this keeps everything the same width */
  display: inline-block;
  width: 100%;
}

/* for the puzzle pages */

#grid-container {
  margin: 15px auto;
}

table {
  border-collapse: collapse;
}

#grid-container tr td tr td {
  border-color: var(--border-color);
  width: var(--cell-size);
  height: var(--cell-size);
  text-align: center;
  vertical-align: middle;
  font-weight: 600;
  font-size: calc(calc(var(--cell-size) * 3) / 5);
}
.empty { background: #eee;
}
.filled {
  background: #000;
}

#nono-grid,
#top-nums,
#side-nums {
  border: 2px solid var(--border-color);
}

#nono-grid tr td {
  border-bottom: 1px solid;
  border-right: 1px solid;
}
#nono-grid :nth-child(5n) td {
  border-bottom: 2px solid var(--border-color);
}
#nono-grid tr :nth-child(5n) {
  border-right: 2px solid var(--border-color);
}

#top-nums {
  border-bottom: 0;
}
#top-nums tr td {
  border-right: 1px solid;
}
#top-nums tr :nth-child(5n) {
  border-right: 2px solid var(--border-color);
}

#side-nums {
  border-right: 0;
}
#side-nums tr td {
  border-bottom: 1px solid;
}
#side-nums :nth-child(5n) td {
  border-bottom: 2px solid var(--border-color);
}

#error-msg {
  color: red;
}
#form-container {
  text-align: center;
}

/* /puzzle_list */

.list-element {
  margin: auto;
  width: fit-content;
  display: block;
}

/*
.horizontal-line {
  position: relative;
  height: 1px;
}

.horizontal-line:after {
  display: inline-block;
  content: "";
  position: absolute;
  bottom: 1px;
  left: 50%;
  height: 1px;
  width: 100vw;
  background-color: #e5d5d5;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
*/
