Brotli==1.0.9
bson==0.5.10
click==8.1.3
Flask==2.2.3
Flask-Compress==1.13
Flask-Cors==3.0.10
Flask-Minify==0.41
greenlet==2.0.2
htmlmin==0.1.12
itsdangerous==2.1.2
Jinja2==3.1.2
jsmin==3.0.1
lesscpy==0.15.1
MarkupSafe==2.1.2
ply==3.11
python-dateutil==2.8.2
rcssmin==1.1.1
six==1.16.0
SQLAlchemy==2.0.7
typing_extensions==4.5.0
ua-parser==0.16.1
Werkzeug==2.2.3
xxhash==3.2.0
